#vs files 

.vs/

#binary

Peer/debug/
Peer/release/
Peer/x64/ 
enc_temp_folder/

#dont need files with next extensions:

Peer/*.stash
Peer/*.user
Peer/*.filters
Peer/*.pro

ChatServerV3/debug/
ChatServerV3/release/
ChatServerV3/x64/ 
enc_temp_folder/

#dont need files with next extensions:

ChatServerV3/*.stash
ChatServerV3/*.user
ChatServerV3/*.filters
ChatServerV3/*.pro