#vs files 

**/.vs/

#binary

**/debug/
**/release/
**/x64/ 
**/enc_temp_folder/

#dont need files with next extensions:

**/*.stash
**/*.user
**/*.filters
**/*.pro
**/*.pri
**/*.orig
**/*.autosave

#databases
DAL/Server/Server
DAL/Client/Client
Server/DAL/Client
DAL2 dont touch/DAL2/Client
DAL2 dont touch/DAL2/Server
**/*.txt

#other files
**/.gitattributes
**/GeneratedFiles
**/build-Peer-Desktop_Qt_5_12_0_MSVC2017_64bit-Debug/
