#vs files 

**/.vs/

#binary

**/debug/
**/release/
**/x64/ 
**/enc_temp_folder/
DAL/Client/Client

#dont need files with next extensions:

**/*.stash
**/*.user
**/*.filters
**/*.pro
**/*.pri
**/*.orig

