[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Lv385
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Lv385
	label-Verified = -1..+1 group user/Lv385
	push = group user/Lv385
	read = group user/Lv385
	rebase = group user/Lv385
	removeReviewer = group user/Lv385
	submit = group user/Lv385
[access "refs/heads/*"]
	create = group user/Lv385
	push = +force group user/Lv385
	pushMerge = group user/Lv385
	read = group user/Lv385
[access "refs/tags/*"]
	push = group user/Lv385
	push = +force group user/Lv385
